﻿
body {
    font-family: 'Mountains of Christmas', cursive;
    background: lightblue; /* For browsers that do not support gradients */
    background-image:url(/images/winter2.jpg)

}

.darktop {
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(darkblue,lightblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(darkblue,lightblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(darkblue,lightblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(darkblue,lightblue); /* Standard syntax (must be last) */
}

.darkbot {
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(lightblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lightblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lightblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lightblue, white); /* Standard syntax (must be last) */
}


.day {
    position: relative;
    width: 22%;
    height: 25%;
    float: left;
    border-top: 2px dashed #fff;
    border-right: 2px dashed #fff;
    border-bottom: 2px dashed #fff;
    border-left: 1px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px;
}

    .day .tuerchen {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: brown;
    }

    .day .greyed{
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #666666;
    }

        .day .tuerchen p {
            font-size: 80px;
            color: white;
            font-weight: bold;
            position: absolute;
            top: 38%;
            margin-top: -0.5em;
            width: 100%;
            text-align: center;
            -webkit-transition: opacity 2s ease-in-out;
            -moz-transition: opacity 2s ease-in-out;
            -ms-transition: opacity 2s ease-in-out;
            -o-transition: opacity 2s ease-in-out;
            transition: opacity 2s ease-in-out;
        }
    .day .tuerchen span {
        font-size: 14px;
        color: lightcyan;
        position: absolute;
        top: 85%;
        font-family: Verdana, Geneva, Tahoma, sans-serif !important;
        width: 98%;
        text-align: right !important;
        -webkit-transition: opacity 2s ease-in-out;
        -moz-transition: opacity 2s ease-in-out;
        -ms-transition: opacity 2s ease-in-out;
        -o-transition: opacity 2s ease-in-out;
        transition: opacity 2s ease-in-out;
    }
        .day .greyed p {
            font-size: 80px;
            color: white;
            font-weight: bold;
            position: absolute;
            top: 35%;
            margin-top: -0.5em;
            width: 100%;
            text-align: center;
            -webkit-transition: opacity 2s ease-in-out;
            -moz-transition: opacity 2s ease-in-out;
            -ms-transition: opacity 2s ease-in-out;
            -o-transition: opacity 2s ease-in-out;
            transition: opacity 2s ease-in-out;
        }
    .day .greyed span {
        font-size: 14px;
        color: lightcyan;
        position: absolute;
        top: 85%;
        font-family: Verdana, Geneva, Tahoma, sans-serif !important;
        width: 98%;
        text-align: right !important;
        -webkit-transition: opacity 2s ease-in-out;
        -moz-transition: opacity 2s ease-in-out;
        -ms-transition: opacity 2s ease-in-out;
        -o-transition: opacity 2s ease-in-out;
        transition: opacity 2s ease-in-out;
    }
    .day .opendoor {
        -webkit-animation: opendoor 2s normal forwards ease-in-out;
        animation: opendoor 2s normal forwards ease-in-out;
    }

        .day .opendoor p {
            opacity: 0;
        }

    .day .content {
        width: 100%;
        height: 9em;
        background-size: cover;
        background-position: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 3px solid #765440;
    }

@-webkit-keyframes opendoor {
    0% {
        -webkit-transform: perspective(1500) rotateY(0deg);
        -webkit-transform-origin: 0% 50%;
    }

    100% {
        -webkit-transform: perspective(1500) rotateY(-99deg);
        -webkit-transform-origin: 0% 50%;
    }
}

@-moz-keyframes opendoor {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@-o-keyframes opendoor {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes opendoor {
    0% {
        -webkit-transform: perspective(1500) rotateY(0deg);
        transform: perspective(1500) rotateY(0deg);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }

    100% {
        -webkit-transform: perspective(1500) rotateY(-99deg);
        transform: perspective(1500) rotateY(-99deg);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
}

#calendarBody {
    padding: 1em;
    border:1px solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
canvas {
    display: block;
}

h1 {
    font-size: 4em;
    background: -webkit-linear-gradient(#eee, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 3.5em;
    background: -webkit-linear-gradient(#eee, brown);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay {
    background: #e9e9e9;
    display: none;
    position: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
}


#loading-img {
    position: relative;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    z-index: 99;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/**[data-tooltip] {
    position: relative;
}

    *[data-tooltip]::after {
        content: attr(data-tooltip);
        position: absolute;
        top: -20px;
        right: -20px;
        width: 150px;
        pointer-events: none;
        opacity: 0;
        -webkit-transition: opacity .15s ease-in-out;
        -moz-transition: opacity .15s ease-in-out;
        -ms-transition: opacity .15s ease-in-out;
        -o-transition: opacity .15s ease-in-out;
        transition: opacity .15s ease-in-out;
        display: block;
        font-size: 12px;
        line-height: 16px;
        background: #fefdcd;
        padding: 2px 2px;
        border: 1px solid #c0c0c0;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
    }

    *[data-tooltip]:hover::after {
        opacity: 1;
    }*/