﻿@{
    ViewData["Title"] = "About";
    Layout = "~/views/shared/_layout1.cshtml";
}
<h1>TSC 12 days of Christmas Security</h1>
<h2>Open today's door for the chance to win</h2>

<div id="calendarBody"></div><br /> <br />
