﻿@{
    ViewData["Title"] = "12 days of Christmas Security";
    Layout = "~/views/shared/_layout1.cshtml";
}
<div>HEADER</div>
<div class="container">
    <div class="row">
        <div class="col-md-3" style="background-color:#ff6a00; text-align:center;">LEFT</div>
        <div class="col-md-6" style="background-color:#ffd800; text-align:center;">CENTER</div>
        <div class="col-md-3" style="background-color:#0094ff; text-align:center;">RIGHT</div>
    </div>
</div>

<div>
    <h1 style="text-align:center; color:red; font-weight: bold; font-size:60px;">TSC 12 days of Christmas Security</h1>
    <h2 style="text-align:center">Open today's door for the chance to win</h2>
</div>
<div class="overlay" id="overlay">
    <div id="loading-img">Content</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2" style="background-color:#ff6a00; text-align:center;">LEFT</div>
        <div class="col-md-8" style="background-color:#ffd800; text-align:center;"><div id="calendarBody"></div></div>
        <div class="col-md-2" style="background-color:#0094ff; text-align:center;">RIGHT</div>
    </div>
</div>

<br /> <br />
