﻿@{
    ViewData["Title"] = "12 days of Christmas Security";
    Layout = "~/views/shared/_layout2.cshtml";
}
<h1>Merry Christmas</h1>
<ul>
    <li><div class="door">1</div></li>
    <li><div class="door">2</div></li>
    <li><div class="door">3</div></li>
    <li><div class="door">4</div></li>
    <li><div class="door">5</div></li>
    <li><div class="door">6</div></li>
    <li><div class="door">7</div></li>
    <li><div class="door">8</div></li>
    <li><div class="door">9</div></li>
    <li><div class="door">10</div></li>
    <li><div class="door">11</div></li>
    <li><div class="door">12</div></li>
    <li><div class="door">13</div></li>
    <li><div class="door">14</div></li>
    <li><div class="door">15</div></li>
    <li><div class="door">16</div></li>
    <li><div class="door">17</div></li>
    <li><div class="door">18</div></li>
    <li><div class="door">19</div></li>
    <li><div class="door">20</div></li>
    <li><div class="door">21</div></li>
    <li><div class="door">22</div></li>

    <li><div class="door">25</div></li>
</ul>

<p id="message"></p>
<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>
$( document ).ready(function() {

  var words = ["Lorem ", "ipsum ", "delor", "sit", "amet", "consect", "adipisci", "elit,", "sed.", "Eiusmod", "tempor", "a", "enim", "minim", "season", "nulla", "dolore", "sint", "id", "est", "laboris", "ut.", "aute", "laborum", "toe"];

  var message = "";
  var date = new Date();
  var day = date.getDate();
  var month =  12;
  var scrolled = false;
  var timeDelay = 200;

  // function to reveal message
  var cardReveal = function() {
    $("#message").text(message).show();
  }

  //day=25; // uncomment to skip to 25

  // Only work in December
  if(month === 12) {
    // Loop through each calendar window
    $("li").each( function( index ) {
      var adventwindow = index + 1;
      var item = $(this);

      // Open past windows
      if( day !== adventwindow && adventwindow < day ) {
        window.setTimeout(function(){
          item.children(".door").addClass("open");
        }, timeDelay);
      }

      // timeout offset for past window opening animation
      timeDelay += 100;

      // Add words so far to message variable
      if( adventwindow <= day ) {
        var word = words[index];
        $(this).append('<div class="revealed">' + word + '</div>');
        message = message + " " + word;
      }

      // Add jiggle animation to current day window
      if(adventwindow === day) {
        $(this).addClass("current");
        $(this).addClass("jiggle");
      }

      // On clicking a window, toggle it open/closed and
      // handle other things such as removing jiggle and 25th
      $(this).on("click", function() {
        if(adventwindow <= day) {
          $(this).children(".door").toggleClass("open");
        }

        $(this).removeClass("jiggle");

        // If 25th, can show the message
        if(day >= 25 && adventwindow === 25) {
          messageReveal();

          // Animate scroll to message if not already done
          if(!scrolled) {
            $('html, body').animate({
              scrollTop: $("#message").offset().top
            }, 2000);
            scrolled = true;
          }
        }
      });

    });

    // If beyond 24, show message
    if(day >= 26){
      messageReveal();
    }

  }

});
//# sourceURL=pen.js
</script>